<h1>Listing user_groups</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Address line1</th>
    <th>Address line2</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_groups.each do |user_group| %>
  <tr>
    <td><%= user_group.code %></td>
    <td><%= user_group.address_line1 %></td>
    <td><%= user_group.address_line2 %></td>
    <td><%= user_group.city %></td>
    <td><%= user_group.state %></td>
    <td><%= user_group.zipcode %></td>
    <td><%= user_group.notes %></td>
    <td><%= link_to 'Show', user_group %></td>
    <td><%= link_to 'Edit', edit_user_group_path(user_group) %></td>
    <td><%= link_to 'Destroy', user_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User group', new_user_group_path %>
