<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @user_group.code %>
</p>

<p>
  <b>Address:</b>
  <%= @user_group.address %>
</p>

<p>
  <b>Notes:</b>
  <%= @user_group.notes %>
</p>


<%= link_to 'Edit', edit_user_group_path(@user_group) %> |
<%= link_to 'Back', user_groups_path %>
