<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Is attending:</b>
  <%= @user.is_attending %>
</p>

<p>
  <b>Relationship:</b>
  <%= @user.relationship %>
</p>

<p>
  <b>User group:</b>
  <%= @user.user_group %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
